/* -- Colors & Fonts -- 
#9ABCA7; // Button Color
#D28994; // Highlights
#B9DAE6; // Logo Color / Button Color
#41464F; // Darkest
#707071; // Mid
#D1D1D1; // Light
#DBDBDB; // Lightest

// -------- Fonts and Sizes
// -------- Logotype: Exo 2
// -------- Body Fonttype: Roboto
// -------- Main headline - 60px
// -------- Regular Headline - 32px;
// -------- Body 21px;
*/
@import url('https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap');
html,
body {
  font-family: 'Exo 2', sans-serif;
  font-size: 62.5%;
}
.logo {
  font-family: 'Exo 2', sans-serif;
  color: #41464f;
  font-size: 3.2rem;
}
h1 {
  font-size: 3.6rem;
}
h2,
.lightaccent {
  font-family: 'Exo 2', sans-serif;
  color: #707071;
  font-size: 2.8rem;
}
